# Project exclude paths
/dolphinscheduler-alert/dolphinscheduler-alert-api/target/
/dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/target/
/dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-email/target/
/dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-feishu/target/
/dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-http/target/
/dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-script/target/
/dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-slack/target/
/dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-wechat/target/
/dolphinscheduler-alert/dolphinscheduler-alert-plugins/target/
/dolphinscheduler-alert/dolphinscheduler-alert-server/target/
/dolphinscheduler-alert/target/
/dolphinscheduler-api/target/
/dolphinscheduler-common/target/
/dolphinscheduler-dao/target/
/dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-all/target/
/dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-api/target/
/dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-clickhouse/target/
/dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-db2/target/
/dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-hive/target/
/dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-mysql/target/
/dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-oracle/target/
/dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-postgresql/target/
/dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-sqlserver/target/
/dolphinscheduler-datasource-plugin/target/
/dolphinscheduler-dist/target/
/dolphinscheduler-python/target/
/dolphinscheduler-registry/dolphinscheduler-registry-api/target/
/dolphinscheduler-registry/dolphinscheduler-registry-plugins/dolphinscheduler-registry-zookeeper/target/
/dolphinscheduler-registry/dolphinscheduler-registry-plugins/target/
/dolphinscheduler-registry/target/
/dolphinscheduler-remote/target/
/dolphinscheduler-server/target/
/dolphinscheduler-service/target/
/dolphinscheduler-spi/target/
/dolphinscheduler-standalone-server/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-api/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-datax/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-flink/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-http/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-mr/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-pigeon/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-procedure/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-python/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-shell/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-spark/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-sql/target/
/dolphinscheduler-task-plugin/dolphinscheduler-task-sqoop/target/
/dolphinscheduler-task-plugin/target/
/dolphinscheduler-ui/node_modules/
/dolphinscheduler-ui/target/
/target/